{% extends 'front/layout.html.twig' %}

{% block title %}New Picture{% endblock %}

{% block body %}
<div class="container">
    <h1>Photo de l'annonce - Etape (3/3)</h1>

    {{ include('picture/_form.html.twig') }}

    <a href="{{ path('picture_index') }}">back to list</a>
</div>
{% endblock %}

