$primary-text-color: #f0f0f0;
$select-text-color: #FF0C0C;
$primary-color: #212121;

.alpha { color: $primary-color; }

body{
  font-family: 'Roboto', sans-serif;
  margin: 0 !important;
  padding: 0 !important;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: $primary-color;
    overflow-x: hidden;
    transition: 0.5s;
    white-space: nowrap;

  }
  .closebtn
  {
    margin-top: 8px;
    color: $primary-text-color;
  }

  .a-nav-lm{
    padding: 8px 8px 16px 16px;
    text-decoration: none;
    font-size: 16px;
    color: $primary-text-color;
    display: block;
    transition: 0.3s;
  }
   .a-nav{
    padding: 8px 8px 16px 16px;
    text-decoration: none;
    font-size: 18px;
    color: $primary-text-color;
    display: block;
    transition: 0.3s;

    i{
      margin-right: 5%;
    }
  }
  
  hr{
    margin: 10% 0;
    height:1px;
    border-width:0;
    color:rgb(34, 34, 34);
    background-color:rgb(34, 34, 34);
  }

  .sidenav a:hover {
    color: $select-text-color;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media only all and (max-width: 600px) {
    .a-nav{
      font-size: 18px;
    }
    .a-nav-lm {
      font-size: 14px;
    }
    
  }

  @media only all and (max-width: 768px) {
    #ad-form{
      padding: 0 5% !important;
    }
  }

  #back-nav{
    margin-bottom: 10%;
    width: 100%;
    height: 25%;
    background-image: url(../img/navbar-back.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  #search-main{
   font-size: 20px;
   color: $primary-text-color;
   &:hover{
    color: $select-text-color;
  }
  }
  
  #nav-front{
    padding: 0 20%;
    h1{
      font-family: 'Fredoka One', cursive;
      margin: 0.5em 0;
      font-size: 22px;
      color: $primary-text-color;
      transition: 0.3s;
     
    }
    span{
      color: $primary-text-color;
      &:hover{
        color: $select-text-color;
      }
    }
  }

.hidden{
  display: none;
}



#main-div{
  width: 100%;
  height: 70vh;
  background-image: url(../img/main-div.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}


.container { width:95%;max-width:980px;padding:1% 2%;margin:0 auto }
#lat, #lon { text-align:right }
#map { width:100%;height:250px;padding:0;margin:0; }
.address { cursor:pointer }
.address:hover { color:#AA0000;text-decoration:underline }

#ad-form
{
  background-color: hotpink;
  padding: 0 20%;
}

.chosen-select{
  width: 100%;
}
.add{
  font-size: 40px;
}

.testimg{
  object-fit: cover;
  object-position: center;
}
.card-img-top {
  width: 100%;
  height: 30vh;
  object-fit: cover;
  object-position: center;
}

.sep{
  color:red;
}

.card-title
{
  margin-top: .75rem;
  color: #f0f0f0;
}

.card-text{
  margin-bottom: .75rem;
  color: #f0f0f0;
  font-weight: bold;
}

.card-text:last-child{
  margin-bottom: .75rem;
}

.card-body{
  background-color: #212121;
  z-index: 1;
}

.card{
  border: none;

  overflow: hidden;
  border-radius: 20px;
  margin: 5vh 5vw;
box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.22);
background-color: #212121;
}
.card-img-top{
  
  z-index: 2;
  border-radius: 20px; 
}

.link-full-ad{
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}

.carousel-picture{
  width: 100%;
  height: 60vh;
  object-fit:cover;
  object-position:center;
}

.ad-hr{
  width: 50px;
  height: 10px;
  border-radius: 10px;
  margin: 10px 0 30px 0;
  background-color: #FF0C0C;
}

.ad-h3{
  margin-top: 30px;
}

#ad-info{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin:5px 0 5px 0;
  p{
    margin: 5px 0 5px 0;
    padding: 0;
  }
}

.icon{
  margin:0;
  font-size:25px;
  width:40px;
  color: #212121;
  margin-right: 20px;
}

//div main

#main-div-form{
  background-color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 60%;
  height: 80%;
}



