{{ form_start(form) }}

    {{ form_widget(form) }}
     <div class="col text-center">
    <button class="btn btn-dark">{{ button_label|default('Etape suivante') }}</button>
    </div>
{{ form_end(form) }}
