{% extends 'front/layout.html.twig' %}

{% block title %}New AdSupplement{% endblock %}

{% block body %}
<div class="container">
    <h1>Supplément de l'annonce - Etape (2/3)</h1>

    {{ include('ad_supplement/_form.html.twig') }}

</div>
{% endblock %}
